<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>BitCourse</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
<section>
<p class="center">Bitcoin price</p>
<table>
  <tr>
    <th colspan="2">Price</th>
    <th colspan="4">Change %</th>
  </tr>
  <tr>
    <td rowspan="2">Price</td>
    <td>Today</td>
    <td>Yesterday</td>
    <td>Week ago</td>
    <td>Month ago</td>
    <td>Year ago</td>
  </tr>
  <tr>
    <td id="usd">
      <%= @current_price %>$
    </td>

    <td id="yesterday" class="<%= percentage_color(percentage_from(:yesterday)) %>">
      <%= percentage_from(:yesterday) %>
    </td>
    <td id="weekago" class="<%= percentage_color(percentage_from(:week_ago)) %>">
      <%= percentage_from(:week_ago) %>
    </td>
    <td id="monthago" class="<%= percentage_color(percentage_from(:month_ago)) %>">
      <%= percentage_from(:month_ago) %>
    </td>

    <td id="yearago" class="<%= percentage_color(percentage_from(:year_ago)) %>">
      <%= percentage_from(:year_ago) %>
    </td>
  </tr>
</table>
  <%= line_chart({@date - 6.month => @chart_data[:half_year_ago], @date - 4.month => @chart_data[:four_months_ago], @date - 3.month => @chart_data[:three_months_ago], @date - 2.month => @chart_data[:two_months_ago], @date - 1.month => @chart_data[:month_ago], @date - 2.week => @chart_data[:two_weeks_ago], @date - 1.week => @chart_data[:week_ago], @date => @current_price}) %>
</section>
</body>
</html>