<!DOCTYPE html>
<html>
  <head>
    <title>BitCourse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    Refresh every 30 sec: <span id="sec">0</span> | Github: <a href="https://github.com/marceli99/">Marceli99</a> | Api: <a href="<%= api_path %>">Click!</a>
  </footer>
</html>
